body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
.pricing-wrap {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100vh;
  margin: auto;
}
.pricing-left,
.pricing-right {
  flex: 50%;
}
.pricing-left {
  padding: 50px;
}
.pricing-left img {
  width: 100%;
  border-radius: 10px;
}
.pricing-right {
  padding-right: 100px;
}
.pricing-right h2 {
  font-weight: 900;
  font-size: 40px;
  line-height: 45px;
}
#pricing-header {
  font-weight: 700;
  font-size: 25px;
}
#pricing-info {
  font-size: 20px;
}
.pricing-button {
  float: right;
}
.pricing-btn {
  cursor: pointer;
  color: #fff;
  background-color: rgb(218, 20, 119);
  border: 0;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 16px;
}

@media (max-width: 820px) {
  .pricing-wrap {
    flex-direction: column;
    width: 85%;
    height: auto;
    padding: 100px 0;
  }
}

@media (max-width: 650px) {
  .pricing-wrap {
    flex-direction: column;
    width: 90%;
    height: auto;
    padding: 100px 0;
  }
  .pricing-left,
  .pricing-right {
    flex: 100%;
  }
  .pricing-left {
    padding: 0px;
  }
  .pricing-right {
    padding-right: 0px;
  }
  .pricing-right h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: normal;
  }
  #pricing-header {
    font-weight: 700;
    font-size: 20px;
  }
  #pricing-info {
    font-size: 18px;
  }
  .pricing-button {
    float: left;
  }
}
