body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
.service-intro-wrap {
  height: 100vh;
  align-items: center;
  display: flex;
}
.service-intro-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  background-color: black;
  border-radius: 10px;
}
.service-intro-left h1 {
  font-size: 35px;
  font-weight: 700;
  color: #fff;
}
.service-intro-left p {
  font-size: 20px;
  color: #fff;
}
.service-intro-left,
.service-intro-right {
  flex: 50%;
  margin: 30px;
}

.service-inner-right {
  color: #fff;
  border-radius: 10px;
  margin: auto;
}
.service-inner-right #support {
  width: 540px;
  height: 317px;
}

.service-wrap {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.service-left,
.service-right {
  margin: 0 20px;
}

.service-left button {
  padding: 8px;
  border-radius: 5px;
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  background-color: rgb(228, 224, 224);
}

.service-right p {
  font-size: 20px;
  font-weight: 900;
}
.service-right h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 45px;
}
.service-right small {
  font-size: 16px;
}
/* media queries */
@media (max-width: 820px) {
  .service-wrap {
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    width: 90%;
  }
  .service-right p {
    font-size: 20px;
    font-weight: 900;
  }
  .service-right h1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
  }
  .service-right small {
    font-size: 18px;
  }

  .service-left button {
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    font-size: 18px;
    font-weight: normal;
  }
  .service-intro-wrap,
  .service-intro-inner {
    flex-direction: column;
    width: 98%;
    margin: auto;
    height: auto;
  }
}
@media (max-width: 650px) {
  .service-wrap {
    flex-direction: column;
    margin: auto;
    width: 90%;
  }
  .service-left,
  .service-right {
    margin: 0;
  }
  .service-right h1 {
    font-size: 22px;
    font-weight: bold;
    line-height: 25px;
  }
  .service-left button {
    padding: 8px;
    border-radius: 5px;
    margin: 5px;
    font-size: 15px;
    font-weight: normal;
  }
  .service-right small {
    font-size: 16px;
  }
  .service-intro-wrap,
  .service-intro-inner {
    flex-direction: column;
    width: 98%;
    margin: auto;
    height: auto;
  }
  .service-inner-right #support {
    width: 300px;
    height: 210px;
  }
  .service-intro-left h1 {
    font-size: 35px;
    font-weight: 100;
    line-height: 35px;
  }
  .service-intro-left p {
    font-size: 20px;
    color: #fff;
  }
}
