body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  background-color: rgb(252, 246, 252);
}
.features {
  width: 80%;
  margin: 50px auto;
  height: fit-content;
}

input[type="radio"] {
  display: none;
}

label {
  width: fit-content;
  float: left;
  text-align: center;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #222222;
  font-weight: bold;
  padding: 0.5%;
  margin: 0.5%;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.tile div {
  width: 100%;
  padding: 10px;
}
.tile img {
  width: 100%;
}

.tile h2 {
  font-size: 30px;
  font-weight: 900;
}

.tile {
  width: 100%;
  height: auto;
  display: flex;
  transition: 0.6s all;
  margin: 0.5%;
  padding: 0.5%;
}
.tile img {
  border-radius: 5px;
}

.one,
.three,
.two,
.four {
  border-radius: 10px;
}
/* four */
input[type="radio"][id="four"]:checked + label {
  background: black;
  color: #fff;
}
input[type="radio"][id="four"]:checked ~ .two,
input[type="radio"][id="four"]:checked ~ .three,
input[type="radio"][id="four"]:checked ~ .one {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}
/* end */

input[type="radio"][id="one"]:checked + label {
  background: black;
  color: #fff;
}
input[type="radio"][id="one"]:checked ~ .two,
input[type="radio"][id="one"]:checked ~ .three,
input[type="radio"][id="one"]:checked ~ .four {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}
input[type="radio"][id="two"]:checked + label {
  background: black;
  color: #fff;
}
input[type="radio"][id="two"]:checked ~ .one,
input[type="radio"][id="two"]:checked ~ .three,
input[type="radio"][id="two"]:checked ~ .four {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}
input[type="radio"][id="three"]:checked + label {
  background: black;
  color: #fff;
}
input[type="radio"][id="three"]:checked ~ .one,
input[type="radio"][id="three"]:checked ~ .two,
input[type="radio"][id="three"]:checked ~ .four {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

@media (max-width: 820px) {
  .features {
    width: 98%;
    overflow-x: hidden;
  }
  .tile div {
    width: 95%;
  }
  .tile {
    height: auto;
  }
}

@media (max-width: 650px) {
  .tile {
    flex-direction: column;
    height: auto;
    margin: 10px 0;
  }
  .features {
    width: 90%;
    margin: auto;
  }
  .tile div {
    padding: 0px;
  }

  label {
    padding: 5px;
    margin-bottom: 10px;
    font-weight: normal;
  }
}
